.list {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
      segoe ui, arial, sans-serif;
    margin: 200px 0 0 -33px
  }
  
  .card {
    position: absolute;
    will-change: transform, height, opacity;
    width: 250px;
    height: 250px;
    transform-origin: 0 200px;
    transition: all
  }
  
  .cell {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px
  }
  
  .details {
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgba(61, 61, 61, 0.5);
  }